<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminpage_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script type="text/javascript" th:src="@{/js/check.js}"></script>-->
<!--    &lt;!&ndash;    카테고리 설정 및 에러 확인 js함수&ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/js/productCheck.js}"></script>-->
</head>
<body>

<div layout:fragment="content">
    <br>
    <br>
    <div style="font-size:20px;" align="center"> 관리자페이지</div>
    <div th:if="${count}==0" align="center">판매된 상품이 존재하지 않습니다.</div>
    <div th:unless="${count}==0">

        <table class="type1" align="center" border="2">
            <tr>
                <th>상품판매번호</th>
                <th>상품명</th>
                <th>판매수량</th>
                <th>가격</th>
                <th>구매자</th>
                <th>구매날짜</th>
                <th>상태</th>
                <th>상태변경</th>
            </tr>
            <tr th:each="product : ${paging}" th:object="${product}">

                <td th:text="*{buyId}"></td>
                <td th:text="*{productName}"></td>
                <td th:text="*{count}"></td>
                <td th:text="*{totalPrice}+원"></td>
                <td th:text="*{username}"></td>
                <td th:text="*{date}"></td>
                <td th:text="*{statues}"></td>
                <td>
                    <form method="post" th:action="@{/admin/updateProductStatus}" th:object="${product}">
                        <select name="status">
                            <option th:each="status : ${statusValues}" th:value="${status}" th:text="${status}" name="status">Status</option>
                        </select>
                        <input type="hidden" th:value="*{buyProductId}" name="buyProductId">
                        <button type="submit">저장</button>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <div style="display: flex; justify-content: center;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${paging.number}<=0?'disabled'">
                        <a class="page-link"
                           th:href="@{/admin/sales_status(page=${paging.number-1})}">
                            <<
                        </a>
                    </li>
                    <th:block th:each="pageNumber:${paginationBarNumbers}">
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/admin/sales_status(page=${pageNumber})}"
                                                 th:text="${pageNumber+1}">1</a></li>
                    </th:block>
                    <li class="page-item" th:classappend="${paging.number}==${paging.totalPages-1}?'disabled'">
                        <a class="page-link"
                           th:href="@{/admin/sales_status(page=${paging.number+1})}">>></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>

</body>
</html>