<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <br>
    <br>
    <div style="font-size:20px;" align="center"> 회원정보</div>
    <br>
    <div th:object="${accountDto}">

        <div class="wrapper">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-sm-4 left">
                            <div class="img animated fadeIn">
                                <i class="fa fa-user"></i>
                            </div>
                            <h4 th:text="*{name}">이름 값</h4>
                            <p>ID : [[*{username}]]</p>
                            <!--                            <button>Active</button>-->
                        </div>
                        <div class="col col-sm-8 right">
                            <div>
                                <h4> 주소 : </h4>
                                <p> [[*{userAddress}]]</p>

                                <h4>전화번호 :</h4>
                                <p th:text="*{userPhone}">번호 값</p>

                                <h4>이메일 :</h4>
                                <p th:text="*{userEmail}">이메일 값</p>

                                <div class="action-buttons">
                                    <form th:action="@{/update}" method="get">
                                        <input type="hidden" name="username" th:value="*{username}">
<!--                                        <span>정보변경 </span>-->
                                        <button type="submit" class="edit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                            </svg>
                                        </button>
                                    </form>
                                    <br>
                                    <form th:action="@{/delete/{deleteId}(deleteId=*{username})}" onclick="return confirm('정말로 탈퇴하시겠습니까?');"
                                          method="post">
                                        <input type="hidden" name="deleteId" th:value="*{username}">
                                        <button class="delete" type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
                                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                            </svg>
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>




